<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Basic page needs
        ************************* -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Duy N. - {{ context.title }}</title>
    <meta name="description" content="">
    <!-- Mobile specific metas
        ************************* -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon.ico
        ************************* -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/dn_logo_32.jpg">

    <!-- All CSS
        ************************* -->

    <!-- normalize css
        ************************* -->
    <link rel="stylesheet" href="/static/css/normalize.css">

    <!-- bootstrap css
        ************************* -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- slicknav css
        ************************* -->
    <link rel="stylesheet" href="/static/css/slicknav.min.css">

    <!-- meanmenu css
        ************************* -->
    <link rel="stylesheet" href="/static/css/meanmenu.css">

    <!-- flaticon css
        ************************* -->
    <link rel="stylesheet" href="/static/css/flaticon.css">

    <!-- flaticon lifestyle css
        ************************* -->
    <link rel="stylesheet" href="/static/css/custom_flaticon.css">

    <!-- magnific-popup css
        ************************* -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- animate css
        ************************* -->
    <link rel="stylesheet" href="/static/css/animate.css">

    <!-- change-text css
        ************************* -->
    <link rel="stylesheet" href="/static/css/change-text.css">

    <!-- owl carousel css
        ************************* -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css">

    <!-- Default css
        ************************* -->
    <link rel="stylesheet" href="/static/css/default.css">

    <!-- style css
        ************************* -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- responsive css
        ************************* -->
    <link rel="stylesheet" href="/static/css/responsive.css">

    <!-- user custom css
        ************************* -->
    <link rel="stylesheet" href="/static/css/custom.css">

    <!-- fontawesome js
        ************************* -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/6741e215a6.js"></script>
        
    <!-- modernizr-2 js
        ************************* -->
    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109568298-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109568298-1');
</script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Preloader start -->
    <div id="preloader">
        <div class="main-wrap">
            <div class="ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Component starts
            ************************* -->
    <!-- header area start -->
    <header class="header-area hidden-menu-bar" id="sticker">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="/">
                            <h2>Duy
                                <span>N</span>
                            </h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-9 text-right">
                    <!-- mainmenu start -->
                    <div class="mainmenu">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/profile">profile</a>
                            </li>
                            <li>
                                <a href="/portfolio">portfolio</a>
                            </li>
                            <li>
                                <a href="/services">services</a>
                            </li>
                            <li>
                                <a href="/blog">blog</a>
                            </li>
                            <li>
                                <a href="/contact">contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- mainmenu end -->
                    <!-- mobile menu area start -->
                    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- mobile menu start -->
                                    <div class="mobile-menu">
                                        <nav>
                                            <ul class="nav">
                                                <li>
                                                    <a href="/">Home</a>
                                                </li>
                                                <li>
                                                    <a href="/profile">profile</a>
                                                </li>
                                                <li>
                                                    <a href="/portfolio">portfolio</a>
                                                </li>
                                                <li>
                                                    <a href="/services">services</a>
                                                </li>
                                                <<li>
                                                    <a href="/blog">blog</a>
                                                </li>
                                                <li>
                                                    <a href="/contact">contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- mobile menu end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mobile menu area end -->
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    {% block content %} {% endblock %}
    <!-- footer area start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright-text">Copyright 2017 &copy; Duy Nguyen. All Rights Reserved </p>
                    <ul class="footer-social">
                        <li>
                            <a href="https://www.facebook.com/d.wolf.210" target="_blank">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/duynb92" target="_blank">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/duynb92" target="_blank">
                                <i class="fa fa-fw fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/nbduy021092" target="_blank">
                                <i class="fa fa-fw fa-youtube-play"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- scroll to top button start -->
    <a href="#" class="scrollToTop">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
    <!-- scroll to top button end -->

    <!-- Component ends -->

    <!-- All JS
        ************************* -->
    <!-- JQuery library
        ************************* -->
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap js
        ************************* -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Easing js
        ************************* -->
    <script src="/static/js/jquery.easing.js"></script>

    <!-- slicknav js
        ************************* -->
    <script src="/static/js/jquery.slicknav.min.js"></script>

    <!-- meanmenu js
        ************************* -->
    <script src="/static/js/jquery.meanmenu.min.js"></script>

    <!-- isotope js
        ************************* -->
    <script src="/static/js/jquery.isotope-3.0.4.min.js"></script>

    <!-- wow js
        ************************* -->
    <script src="/static/js/wow.min.js"></script>

    <!-- change-text js
        ************************* -->
    <script src="/static/js/change-text.js"></script>

    <!-- owl carousel js
        ************************* -->
    <script src="/static/js/owl.carousel.min.js"></script>

    <!-- ajax-mail js
        ************************* -->
    <script src="/static/js/ajax-mail.js"></script>

    <!-- magnific-popup js
        ************************* -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>

    <!-- particleground js
        ************************* -->
    <script src="/static/js/jquery.particleground.min.js"></script>

    <!-- plugins js
        ************************* -->
    <script src="/static/js/plugins.js"></script>

    <!-- Main js
        ************************* -->
    <script src="/static/js/main.js"></script>

    <!-- Modal js
        ************************* -->
        <script src="/static/js/modal.js"></script>
</body>

</html>