{% extends 'base.html' %} {% block content %}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h2>{{title}}</h2>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">home</a>
                        </li>
                        <li>{{title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- blog area start -->
<div class="section-padding blog-page" id="blog">
    <div class="container">
        <!-- blog posts start -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-1">
                        <div class="blog-date">
                            <span>27</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-3">
                        <div class="blog-date">
                            <span>29</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-2">
                        <div class="blog-date">
                            <span>12</span>
                            <span>Sep</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-4">
                        <div class="blog-date">
                            <span>15</span>
                            <span>sep</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-5">
                        <div class="blog-date">
                            <span>18</span>
                            <span>sep</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-6">
                        <div class="blog-date">
                            <span>21</span>
                            <span>sep</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-7">
                        <div class="blog-date">
                            <span>24</span>
                            <span>sep</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-8">
                        <div class="blog-date">
                            <span>27</span>
                            <span>sep</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm">
                <div class="single-blog">
                    <div class="blog-bg blog-bg-9">
                        <div class="blog-date">
                            <span>01</span>
                            <span>oct</span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <h4>
                            <a href="blog-details.html">Plan for making a project</a>
                        </h4>
                        <div class="info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i> Hridoy roy</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-chat"></i> 4 comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit.
                            In plac erat, ex nec sodales elem entum.</div>
                        <a href="blog-details.html" class="bordered-btn">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog posts end -->

        <div class="row">
            <!-- toolbar area start -->
            <div class="col-md-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <span>Pages:</span>
                        </li>
                        <li class="current">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="flaticon-next"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- toolbar area end -->
        </div>
    </div>
</div>
<!-- blog area end -->
{% endblock %}