{% extends 'base.html' %} {% block content %}
{% load calendar_converter %}
{% load tz %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area blog-breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content">
                            <h2>{{context.blog.title}}</h2>
                            <ul class="breadcrumb">
                                <li><a href="/">home</a></li>
                                <li><a href="/blog">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->

        <!-- blog details area start -->
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <!-- blog details start -->
                    <div class="col-md-9 col-sm-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-full-post">
                                    <!-- post details start -->
                                    <div class="details-content">
                                        {{context.blog.content | safe}}
                                    </div>
                                    <!-- post details end -->
                                    <!-- post info start -->
                                    <div class="blog-info">
                                        <!-- post info -->
                                        <div class="info">
                                            <ul>
                                            <li>
                                            <i class="fas fa-folder-open"></i>
                                            <a href="/blog?category={{context.blog.category.id}}">{{context.blog.category.title}}</a>
                                            </li>
                                            <li> 
                                            <i class="fas fa-hashtag"></i>
                                            {% for tag in context.blog.tags.all %}
                                            <a href="/blog?tag={{tag.id}}">
                                            {% if forloop.last %}{{tag.title}}{% else %}{{tag.title}},{% endif %}
                                            </a>
                                            {% endfor %}
                                            </li>
                                            <li class="pull-right"><i class="far fa-calendar-alt"></i> {{context.blog.getDateTime}} </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post info end -->
                                    <!-- post comment box start -->
                                    <div class="comment-box">
                                        <div class="comment-list">
                                            <ul>
                                            {% for comment in context.blog.blogcomment_set.all %}
                                            {% if comment.isParent %}
                                                <!-- comment start -->
                                                <li>
                                                    <div class="author-comment pull-left">
                                                        <h5><a href="">{{comment.name}}</a><span id="comment-timestamp" datetime="{{comment.timestamp|date:"c"}}"></span><a href="#comment-form" onclick="setParentComment('{{comment.id}}', '{{comment.name}}')" class="pull-right reply"><i class="fa fa-reply" aria-hidden="true"></i></a></h5>
                                                        <p>{{comment.content}}</p>
                                                    </div>
                                                </li>
                                                {% else %}
                                                <!-- comment end -->
                                                <!-- comment reply start -->
                                                <li class="comment-reply">
                                                    <div class="author-comment pull-left">
                                                        <h5><a href="#">{{comment.name}}</a><span id="comment-timestamp" datetime="{{comment.timestamp|date:"c"}}"></span> </h5>
                                                        <p>{{comment.content}}</p>
                                                    </div>
                                                </li>
                                                {% endif %}
                                                <!-- comment reply end -->
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post comment box end -->
                                    <!-- write comment start -->
                                    <div class="blog-comment-form" >
                                    <h4 id="form-title">write your comment</h4>
                                        <!-- blog comment start -->
                                        <form method="POST" id="comment-form"> {% csrf_token %}
                                            {{ form.non_field_errors }}
                                            {{ form.parent.as_hidden }}
                                            <div class="input-box">
                                            {{ form.name.errors }}
                                            {{ form.name }}
                                            {{ form.email.errors }}
                                            {{ form.email }}
                                            </div>
                                            <div class="input-textarea">
                                            {{ form.content.errors }}
                                            {{ form.content }}
                                            </div> 
                                            <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                            <button id="form-cancel-button" class="filled-btn" style="visibility:hidden" onclick="setParentComment('','')">cancel</button>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                            <button type="submit" class="dark-btn button pull-right">post comment</button>
                                            </div>
                                            </div>
                                        </form>
                                        <!-- blog comment end -->
                                    </div>
                                    <!-- write comment end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog details end -->

                    <!-- blog sidebar start -->
                    <div class="col-md-3 col-sm-4">
                        <div class="blog-sidebar">
                            {% comment %} <div class="search-area">
                                <!-- search box start -->
                                <div class="search-box">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="flaticon-search"></i></button>
                                </div>
                                <!-- search box end -->
                            </div> {% endcomment %}
                            <!-- recent post start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>recent posts</h3>
                                </div>
                                <div class="single-sidebar-menu recent-post">
                                    <ul>
                                    {% for blog in context.recent_blogs %}
                                    <li>
                                    {% if forloop.counter|divisibleby:2 %}
                                    <i class="far fa-comment"></i>
                                    {% else %}
                                    <i class="far fa-comment-alt"></i>
                                    {% endif %}
                                    <a href="/blog/{{blog.getYearOnly}}/{{blog.getMonth}}/{{blog.slug}}">{{blog.title}}</a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- recent post end -->
                            {% comment %} <!-- popular post start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>popular posts</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                        <li><a href="#">next blog post title here</a></li>
                                        <li><a href="#">here goes another title</a></li>
                                        <li><a href="#">other blog post title </a></li>
                                        <li><a href="#">plan for making a project</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- popular post end --> {% endcomment %}
                            <!-- catagory start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Categories</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                    {% for category in context.categories %}
                                        <li><i class="fas fa-folder-open"></i><a href="/blog/category/{{category.slug}}">{{ category.title }} ({{category.blog_count}})</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- catagory end -->
                            <!-- archives start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Archives</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                    {% for key, value in context.archives.items %}
                                        {% for month in value %}
                                        <li>
                                        <i class="far fa-calendar-alt"></i><a href="/blog/{{key}}/{{month}}">{{month|month_name}} {{key}}</a>
                                        </li>
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- archives end -->
                            <!-- tag start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>tags</h3>
                                </div>
                                <div class="tag-menu">
                                    <ul>
                                    {% for tag in context.tags %}
                                    {% comment %} {% if tag.blog_set.all.count > 0%} {% endcomment %}
                                    <li><a href="/blog/tag/{{tag.slug}}">{{tag.title}} ({{tag.blog_count}})</a></li>
                                    {% comment %} {% endif %} {% endcomment %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- tag end -->
                        </div>
                    </div>
                    <!-- blog sidebar end -->
                </div>
            </div>
        </div>
        <!-- blog details area end -->
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        //Adding validators to email input form
        $('#comment-form #id_email').attr("title","Please provide a valid e-mail address");
        $('#comment-form #id_email').attr("pattern","[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$");

        //Convert to localtime
        var now = moment();

        $('span').each(function(i, e) {
            if ($(e).attr("id") == 'comment-timestamp') {
                var time = moment($(e).attr('datetime')).format("DD MMM YYYY, hh:mm a");
                $(e).text(time);
            }
            
        });
    });

    function setParentComment(commentId, commentName) {
        $('#comment-form #id_parent').val(commentId);
        if (commentId == '') {
            $('.blog-comment-form #form-title').text("write your comment");
            $('.blog-comment-form #form-cancel-button').attr("style", "visibility:hidden");
        } else {
            $('.blog-comment-form #form-title').text("reply to " + commentName + "'s comment");
            $('.blog-comment-form #form-cancel-button').attr("style", "visibility:visible");
        }
    }

    {% comment %} // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    }); {% endcomment %}

</script>
{% endblock %}
