{% extends 'base.html' %} {% block content %}
{% load calendar_converter %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area blog-breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content">
                            <h2>{{context.title}}</h2>
                            <ul class="breadcrumb">
                                <li><a href="/">home</a></li>
                                <li>{{context.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->

        <!-- blog area start -->
        <div class="section-padding blog-page" id="blog">
            <div class="container">
                <div class="row">
                    <!-- blog posts start -->
                    <div class="col-md-9 col-sm-8">
                        <div class="row">
                                {% for blog in context.blogs.object_list %}
                                <div class="col-md-12 col-sm-12">
                                <div class="single-blog">
                                    {% if blog.getFirstImageUrl == None %}
                                    <div class="blog-bg" style="background-image: url('https://i.imgur.com/xWG939I.jpg')">
                                    {% else %}
                                    <div class="blog-bg" style="background-image: url('{{blog.getFirstImageUrl}}')">
                                    {% endif %}
                                        <div class="blog-date">
                                            <span id="date-only">{{blog.pub_date|date:'c'}}</span>
                                            <span id="month-only">{{blog.pub_date|date:'c'}}</span>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <h4><a id="blog-url" datetime={{blog.pub_date|date:'c'}} href="/blog/{{blog.slug}}">{{blog.title}}</a></h4>
                                        <div class="info">
                                            <ul>
                                            <li>
                                            <i class="fas fa-folder-open"></i>
                                            <a href="/blog?category={{blog.category.id}}">{{blog.category.title}}</a>
                                            </li>
                                            <li> 
                                            <i class="fas fa-hashtag"></i>
                                            {% for tag in blog.tags.all %}
                                            <a href="/blog?tag={{tag.id}}">
                                            {% if forloop.last %}{{tag.title}}{% else %}{{tag.title}},{% endif %}
                                            </a>
                                            {% endfor %}
                                            </li>
                                            <li class="pull-right">
                                            <i class="far fa-comment"></i>
                                            <a id="blog-url" datetime={{blog.pub_date|date:'c'}} href="/blog/{{blog.slug}}#comment-form"> {{blog.blogcomment_set.all|length}} {% if blog.blogcomment_set.all|length > 1 %} comments {% else %} comment {% endif %}</a>
                                            </li>
                                            </ul>
                                        </div>
                                        <div class="descriptions">{{blog.getPreview | safe}}</div>
                                        <a id="blog-url" datetime={{blog.pub_date|date:'c'}} href="/blog/{{blog.slug}}" class="bordered-btn">read more</a>
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                        </div>
                        <div class="row">
                            <!-- pagination area start -->
                            <div class="col-md-12">
                                <div class="pagination">
                                    <ul>
                                        <li><span>Pages:</span></li>
                                        {% if context.blogs.has_previous %}
                                        <li><a href="{{ request.path }}?page={{ context.blogs.previous_page_number }}"> <i class="flaticon-back"></i> </a></li>
                                        {% endif %}
                                        {% for i in context.blogs.paginator.page_range %}
                                        {% if context.blogs.number == i %}
                                            <li class="current"><a href="#">{{i}}</a></li>
                                        {% else %}
                                            <li><a href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if context.blogs.has_next %}
                                        <li><a href="{{ request.path }}?page={{ context.blogs.next_page_number }}"> <i class="flaticon-next"></i> </a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <!-- pagination area end -->
                        </div>
                    </div>
                    <!-- blog posts end -->
                    
                    <!-- blog sidebar start -->
                    <div class="col-md-3 col-sm-4">
                        <div class="blog-sidebar">
                            {% comment %} <div class="search-area">
                                <!-- search box start -->
                                <div class="search-box">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="flaticon-search"></i></button>
                                </div>
                                <!-- search box end -->
                            </div> {% endcomment %}
                            <!-- recent post start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>recent posts</h3>
                                </div>
                                <div class="single-sidebar-menu recent-post">
                                    <ul>
                                    {% for blog in context.recent_blogs %}
                                    <li>
                                    {% if forloop.counter|divisibleby:2 %}
                                    <i class="far fa-comment"></i>
                                    {% else %}
                                    <i class="far fa-comment-alt"></i>
                                    {% endif %}
                                    <a id="blog-url" datetime={{blog.pub_date|date:'c'}} href="/blog/{{blog.slug}}">{{blog.title}}</a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- recent post end -->
                            {% comment %} <!-- popular post start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>popular posts</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                        <li><a href="#">next blog post title here</a></li>
                                        <li><a href="#">here goes another title</a></li>
                                        <li><a href="#">other blog post title </a></li>
                                        <li><a href="#">plan for making a project</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- popular post end --> {% endcomment %}
                            <!-- catagory start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Categories</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                    {% for category in context.categories %}
                                        <li><i class="fas fa-folder-open"></i><a href="/blog/category/{{category.slug}}">{{ category.title }} ({{category.blog_count}})</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- catagory end -->
                            <!-- archives start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Archives</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                    {% for year, value in context.archives.items %}
                                        {% for month in value %}
                                        <li>
                                        <i class="far fa-calendar-alt"></i><a href="/blog/{{year}}/{{month}}">{{month|month_name}} {{year}}</a>
                                        </li>
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- archives end -->
                            <!-- tag start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>tags</h3>
                                </div>
                                <div class="tag-menu">
                                    <ul>
                                    {% for tag in context.tags %}
                                    {% comment %} {% if tag.blog_set.all.count > 0%} {% endcomment %}
                                    <li><a href="/blog/tag/{{tag.slug}}">{{tag.title}} ({{tag.blog_count}})</a></li>
                                    {% comment %} {% endif %} {% endcomment %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- tag end -->
                        </div>
                    </div>
                    <!-- blog sidebar end -->
                </div>
            </div>
        </div>
        <!-- blog area end -->
        {% endblock %}