{% extends 'base.html' %} {% block content %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content text-center">
                            <h2>{{title}}</h2>
                            <ul class="breadcrumb">
                                <li><a href="/">home</a></li>
                                <li>{{title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->

        <!-- blog area start -->
        <div class="section-padding blog-page column-1" id="blog">
            <div class="container">
                <div class="row">
                    <!-- blog posts start -->
                    <div class="col-md-9 col-sm-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="single-blog">
                                    <div class="blog-bg blog-bg-5">
                                        <div class="blog-date">
                                            <span>18</span>
                                            <span>sep</span>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <h4><a href="blog-details.html">Plan for making a project</a></h4>
                                        <div class="info">
                                            <ul>
                                                <li> <a href="#"> <i class="flaticon-user"></i> Hridoy roy</a></li>
                                                <li> <a href="#"> <i class="flaticon-chat"></i> 4 comments</a></li>
                                            </ul>
                                        </div>
                                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit. In plac erat, ex nec sodales elem entum.</div>
                                        <a href="blog-details.html" class="bordered-btn">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="single-blog">
                                    <div class="blog-bg blog-bg-7">
                                        <div class="blog-date">
                                            <span>24</span>
                                            <span>sep</span>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <h4><a href="blog-details.html">Plan for making a project</a></h4>
                                        <div class="info">
                                            <ul>
                                                <li> <a href="#"> <i class="flaticon-user"></i> Hridoy roy</a></li>
                                                <li> <a href="#"> <i class="flaticon-chat"></i> 4 comments</a></li>
                                            </ul>
                                        </div>
                                        <div class="descriptions">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit. Sed conv llis lacinia enim vel blandit. In plac erat, ex nec sodales elem entum.</div>
                                        <a href="blog-details.html" class="bordered-btn">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- pagination area start -->
                            <div class="col-md-12">
                                <div class="pagination">
                                    <ul>
                                        <li><span>Pages:</span></li>
                                        <li class="current"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"> <i class="flaticon-next"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- pagination area end -->
                        </div>
                    </div>
                    <!-- blog posts end -->
                    
                    <!-- blog sibebar start -->
                    <div class="col-md-3 col-sm-4">
                        <div class="blog-sidebar">
                            <div class="search-area">
                                <!-- search box start -->
                                <div class="search-box">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="flaticon-search"></i></button>
                                </div>
                                <!-- search box end -->
                            </div>
                            <!-- recent post start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>recent posts</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                        <li><a href="#">plan for making a project</a></li>
                                        <li><a href="#">here goes another title</a></li>
                                        <li><a href="#">other blog post title </a></li>
                                        <li><a href="#">next blog post title here</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- recent post end -->
                            <!-- popular post start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>popular posts</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                        <li><a href="#">next blog post title here</a></li>
                                        <li><a href="#">here goes another title</a></li>
                                        <li><a href="#">other blog post title </a></li>
                                        <li><a href="#">plan for making a project</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- popular post end -->
                            <!-- catagory start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Category</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                        <li><a href="#">popular (8)</a></li>
                                        <li><a href="#">creative (4)</a></li>
                                        <li><a href="#">features (3)</a></li>
                                        <li><a href="#">letest (2)</a></li>
                                        <li><a href="#">prize (4)</a></li>
                                        <li><a href="#">condition (4)</a></li>
                                        <li><a href="#">International (2)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- catagory end -->
                            <!-- archives start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>Archives</h3>
                                </div>
                                <div class="single-sidebar-menu">
                                    <ul>
                                        <li><a href="#">august 2017</a></li>
                                        <li><a href="#">july 2017</a></li>
                                        <li><a href="#">june 2017</a></li>
                                        <li><a href="#">may 2017</a></li>
                                        <li><a href="#">april 2017</a></li>
                                        <li><a href="#">march 2017</a></li>
                                        <li><a href="#">february 2017</a></li>
                                        <li><a href="#">january 2017</a></li>
                                        <li><a href="#">december 2016</a></li>
                                        <li><a href="#">november 2016</a></li>
                                        <li><a href="#">october 2016</a></li>
                                        <li><a href="#">september 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- archives end -->
                            <!-- tag start -->
                            <div class="single-sidebar">
                                <div class="single-sidebar-title">
                                    <h3>tags</h3>
                                </div>
                                <div class="tag-menu">
                                    <ul>
                                        <li><a href="#">creation</a></li>
                                        <li><a href="#">portfolio</a></li>
                                        <li><a href="#">latest</a></li>
                                        <li><a href="#">development</a></li>
                                        <li><a href="#">graphics</a></li>
                                        <li><a href="#">design</a></li>
                                        <li><a href="#">marketing</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- tag end -->
                        </div>
                    </div>
                    <!-- blog sidebar end -->
                </div>
            </div>
        </div>
        <!-- blog area end -->
        {% endblock %}
		