{% extends 'base.html' %} {% block content %}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area profile-breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h2>{{title}}</h2>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">home</a>
                        </li>
                        <li>{{title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- eror area start -->
<div class="eror-area">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>ops! not found.</h1>
                        <h2><span>404</span> eror</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- eror area end -->
{% endblock %}