{% extends 'base.html' %}
{% block content %}     
        <!-- hero wrapper start -->
        <div class="hero-wrapper">
			
            <!-- hero-area start -->
            <div class="hero-area home-hero-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-hero-item">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <h3></h3>
                                        <h1>duy nguyen</h1>
                                        <h2 class="cd-headline letters type">
                                            <span class="cd-words-wrapper waiting">
                                                <b class="is-visible">agile & atlassian certified professional</b>
                                                <b>senior software engineer</b>
                                            </span>
                                        </h2>
                                        <a href="/portfolio" class="bordered-btn">see my works</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<a href="#about" class="scroll-next smooth"><i class="flaticon-down-arrow"></i></a>
			</div>
            <!-- hero-area end -->
        </div>
        <!-- hero wrapper end -->

        <!-- content wrapper start -->
        <div class="content-wrapper">
			<!-- about area start -->
		<div class="section-padding" id="about">
		<div class="container">
			<!-- section title start -->
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading text-center">
						<h2>about <span>me</span></h2>
					</div>
				</div>
			</div>
			<!-- section title end -->
	
			<div class="row">
				<div class="col-md-6">
					<!-- section title small start -->
					<div class="section-heading-small">
						<h4>my story</h4>
					</div>
					<!-- section title small end -->
	
					<!-- my story content start -->
					<div class="about-content">
						<p>With a proven track record as a senior software engineer, my primary focus lies in iOS development. Over the course of my career, I have honed my skills in crafting high-quality applications that deliver exceptional user experiences. Beyond iOS, I possess comprehensive knowledge of various software development tools and methodologies, including expertise in building and optimizing CI/CD pipelines.</p>
						<p>As a testament to my dedication and passion for Atlassian products, I have earned an impressive 80% of Atlassian certifications. This accomplishment underscores my commitment to mastering the intricacies of Atlassian's suite of tools, enabling me to leverage their capabilities to the fullest extent.</p>
						<p>What truly sets me apart is my enthusiasm for building custom integrations and automation processes. I firmly believe that by harnessing the power of automation, businesses and individuals can boost productivity, streamline workflows, and solve daily task-related challenges. By designing and implementing tailored solutions, I help organizations save valuable time and resources, ultimately driving cost efficiencies.</p>
						<p>In every project I undertake, I bring a unique blend of technical expertise, creativity, and problem-solving skills. I am deeply passionate about creating innovative solutions that not only meet but exceed the expectations of stakeholders. By leveraging cutting-edge technologies, I strive to deliver impactful results that empower businesses to thrive in a rapidly evolving digital landscape.</p>
						<!-- about buttons start -->
						<div class="about-buttons">
							<a target="_blank" href="https://1drv.ms/b/s!Ar_Eh1Yc_j44gR4qvmQA80jFaMkj?e=ni4l2X" class="bordered-btn">download cv <i class="flaticon-download"></i></a>
							<a href="https://www.upwork.com/fl/duynb" class="filled-btn smooth">hire me <i class="flaticon-mail"></i></a>
						</div>
						<!-- about buttons end -->
					</div>
					<!-- my story content end -->
				</div>
				<div class="col-md-6">
					<!-- section title small start -->
					<div class="section-heading-small">
						<h4>my skills</h4>
					</div>
					<!-- section title small end -->
	
					<!-- skill start -->
					<div class="skill">
							{% for skill in context.skills %}
						<!-- progress start -->
						<div class="progress">
							<div class="title">{{skill.name}}</div>
							<div class="progress-bar wow fadeInLeft" data-progress="{{ skill.percent }}" style="width: {{ skill.percent }};" data-wow-duration="1s" data-wow-delay=".5s"> <span class=" wow fadeInLeft" data-wow-delay="1.5s">{{ skill.percent }}</span></div>
						</div>
						<!-- progress end -->
							{% endfor %}
					</div>
					<!-- skill end -->
				</div>
			</div>
		</div>
	</div>
	<!-- about area end -->
	<!-- profile area end -->

    		<!-- lifestyle area start -->
    		<div class="section-padding" id="service">
    			<div class="container">
    				<!-- section title start -->
    				<div class="row">
    					<div class="col-md-12">
    						<div class="section-heading text-center">
    							<h2>what i <span>love</span></h2>
    						</div>
    					</div>
    				</div>
    				<!-- section title end -->
                    <!-- lifestyle items start -->
                    <div class="service-items service-style-1">
                        <div class="row">
							{% for hobby in context.hobbies %}
							<div class="col-md-4 col-sm-6">
									<div class="single-service-item text-center">
										<i class="{{hobby.image}}"></i>
										<h4>{{hobby.name}}</h4>
										<p>{{hobby.quote}}</p>
										<p>{{hobby.author}}</p>
									</div>
								</div>
							{% endfor %}
                        </div>
                    </div>
                    <!-- lifestyle items end -->
    			</div>
    		</div>
    		<!-- lifestyle area end -->
		
			{% endblock %}