{% extends 'base.html' %} {% block content %}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area portfolio-breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h2>{{title}}</h2>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">home</a>
                        </li>
                        <li>{{title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- portfolio area start -->
<div class="section-padding" id="portfolio">
    <div class="container">
        <!-- project filter end -->
        <!--
        <div class="row">
            <div class="col-md-12">
                <ul class="project-filter style-2 text-center">
                    <li class="active" data-filter="*">all</li>
                    <li data-filter=".design">design</li>
                    <li data-filter=".development">development</li>
                    <li data-filter=".photography">photography</li>
                    <li data-filter=".branding">branding</li>
                </ul>
            </div>
        </div>
        -->
        <!-- project filter end -->

        <!-- all project list start -->
        <!-- portfolio details start -->
        <div class="row project-lists">
            <div class="col-xs-12">
                {% for project in projects %}
                <div class="portfolio-details-items">
                    <div class="portfolio-details-info">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- short description start -->
                                <div class="short-description">
                                    <h4>
                                        <i class="portfolio-icon flaticon-briefcase"></i>client:
                                        <span>{{project.client}}</span>
                                    </h4>
                                    <h4>
                                        <i class="portfolio-icon flaticon-waiter"></i>role:
                                        <span>{{project.roles}}</span>
                                    </h4>
                                    <h4>
                                        <i class="portfolio-icon flaticon-code"></i>skills:
                                        <span>{{project.skills}}</span>
                                    </h4>
                                    <h4>
                                        <i class="portfolio-icon flaticon-calendar-with-a-clock-time-tools"></i>length:
                                        <span>{{project.length}}</span>
                                    </h4>
                                    <!--
                                                    <h4>category: 
                                                        {% for category in project.categories %}
                                                        {% if category == 1 %}
                                                        <span>{{project.categories}}</span></h4>
                                                        {% elif category == 2 %}
                                                        <span>{{project.categories}}</span></h4>
                                                        {% endif %}
                                                        {% endfor %}  
                                                    -->
                                    <h4>
                                        <i class="portfolio-icon flaticon-unlink"></i>link: {% if project.links|length == 0 %}
                                        <span>Not yet available</span>
                                        {% else %} {% for link in project.links %} {% if link.platform == 1 %}
                                        <span>
                                            <a href="{{link.url}}" target="_blank">
                                                <i class="flaticon-apple"></i>
                                            </a>
                                        </span>
                                        {% elif link.platform == 2 %}
                                        <span>
                                            <a href="{{link.url}}" target="_blank">
                                                <i class="flaticon-android-character-symbol"></i>
                                            </a>
                                        </span>
                                        {% elif link.platform == 3 %}
                                        <span>
                                            <a href="{{link.url}}" target="_blank">
                                                <i class="flaticon-world"></i>
                                            </a>
                                        </span>
                                        {% elif link.platform == 4 %}
                                        <span>
                                            <a href="{{link.url}}" target="_blank">
                                                <i class=".flaticon-windows-logo-silhouette"></i>
                                            </a>
                                        </span>
                                        {% endif %} {% endfor %} {% endif %}
                                    </h4>
                                    {% if project.screenshots > 0 %}
                                    <a href="" class="bordered-btn" data-toggle="modal" data-target="#screenshotModal{{forloop.counter}}">screenshots
                                        <i class="flaticon-picture"></i>
                                    </a>
                                    {% endif %}
                                </div>
                                <!-- short description end -->
                            </div>
                            <div class="col-md-8">
                                <!-- description start -->
                                <div class="description">
                                    <h3>{{project.name}}</h3>
                                    <p>{{project.description}}</p>
                                    
                                </div>
                                <!-- description end -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Screenshots Modal Start-->
                <div class="modal fade" id="screenshotModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="screenshotModal{{forloop.counter}}Label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div id="screenshotCarousel{{forloop.counter}}" class="carousel slide" data-ride="carousel" data-interval="3500">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                        {% with project.screenshots as screenshots %}
                                        {% with ''|center:screenshots as range %}
                                        {% for _ in range %}
                                        {% if forloop.first %}
                                        <div class="item active">
                                        {% else %}
                                        <div class="item">
                                        {% endif %}
                                            <img class="img-responsive" src="../static/img/portfolio/{{project.tag}}/{{project.tag}}{{forloop.counter}}.jpg" alt="...">
                                        </div>
                                        {% endfor %}
                                        {% endwith %}
                                        {% endwith %}
                                    </div>
                                    <!-- Controls -->
                                    <a class="filled-button left carousel-control" href="#screenshotCarousel{{forloop.counter}}" role="button" data-slide="prev">
                                        <i class="glyphicon glyphicon-chevron-left flaticon-back"></i>
                                    </a>
                                    <a class="filled-button right carousel-control" href="#screenshotCarousel{{forloop.counter}}" role="button" data-slide="next">
                                        <i class="glyphicon glyphicon-chevron-left flaticon-next"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Screenshots Modal End-->

                    {% endfor %}
                </div>
            </div>

            <!-- portfolio details end -->
            <!-- all project list end -->
        </div>

        <!-- portfolio area end -->
        {% endblock %}